* {
    margin: 0;
    padding: 0;
    background-color: var(--silver);
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --green: #4CAF4F;
    --silver: #4D4D4D
    --black: #263238;
    --white: #FFFFFF;
}

.navbar {
    width: 1440px;
    height: 84px;
    gap: 0px;
    opacity: 0px;

}

body{
    color: var(--silver);
}

#logo {
    width: Hug (154.49px)px;
    height: Hug (24px)px;
    top: 30px;
    left: 105px;
    gap: 8px;
    opacity: 0px;

}

.green-btn {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}

.hero {
    width: Fill (1, 440px)px;
    height: Hug (599px)px;
    padding: 96px 144px 96px 144px;
    gap: 104px;
    opacity: 0px;
    background-color: var(--silver);

}

#hero-img {
    width: 391px;
    height: 407px;
    gap: 0px;
    opacity: 0px;

}

.services{
    width: Fixed (1,440px)px;
height: Hug (280px)px;
padding: 0px 144px 0px 144px;
gap: 0px;
justify-content: space-between;
opacity: 0px;

}

#suitable-for {


    img {
        width: 65px;
        height: 56px;
        gap: 0px;
        opacity: 0px;
    }
}